<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Who's who?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Who's who?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-progress-bar [value]="gameDataSvc.getCurrentPerson() / gameDataSvc.getNumPersonsInQuiz()"></ion-progress-bar>

    <!-- This spinner code didn't work well -- made the screen jump down each time.
      <div *ngIf="imageNotLoaded" class="spinner-area">
      <ion-spinner class="image-spinner"></ion-spinner>
    </div> -->
    <ion-img class="person-image" [src]="getPerson().imageData"></ion-img>

    <!-- Multiple-choice -->
    <div *ngIf="useMCQuestions()">
      <ion-list>
        <ion-list-header>Who is this?</ion-list-header>
        <ion-radio-group #radiogroup (ionChange)="choiceSelected($event)">
          <ion-item *ngFor="let name of mcAnswers">
            <ion-label>{{name}}</ion-label>
            <ion-radio [value]="name"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <div *ngIf="!useMCQuestions()">
      <!-- Fill-in-the-blank -->
      <ion-item lines="none">
        <ion-label>Who is this?</ion-label>
        <ion-input [placeholder]="getTextPlaceHolder()" [(ngModel)]="guess"></ion-input>
      </ion-item>
    </div>

    <ion-row class="ion-justify-content-around">
      <ion-button *ngIf="! useMCQuestions()" (click)="showHint()">
        A hint, please.
      </ion-button>
      <ion-button id="submit-button" [disabled]="!guess">
        That's my answer!
      </ion-button>

      <ion-modal trigger="submit-button" [ngClass]="isGuessCorrect() ? 'green-modal' : 'red-modal'">
        <ng-template>

          <ion-text class="center answer-text">
            <ion-icon [name]="isGuessCorrect() ? 'thumbs-up-sharp' : 'thumbs-down-sharp'"></ion-icon>
            {{showAnswer()}}
          </ion-text>
          <ion-button class="dismiss-button center" (click)="dismiss()">Got it!</ion-button>
        </ng-template>
      </ion-modal>
    </ion-row>

  </ion-list>

  <!-- <ion-fab vertical="center" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>