<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Who's who?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Who's who?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Which person you are on in the quiz -->
    <ion-item>1 of 5</ion-item>
    <ion-img class="person-image" src="assets/me_cartoon_befunky.jpg"></ion-img>

    <!-- Multiple-choice -->
    <div *ngIf="gameDataSvc.getGameMode() === 'Multiple Choice'">
      <ion-list>
        <ion-list-header>Who is this?</ion-list-header>
        <ion-radio-group>
          <ion-item *ngFor="let name of names">
            <ion-label>{{name.name}}</ion-label>
            <ion-radio [value]="name.name"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <div *ngIf="gameDataSvc.getGameMode() === 'Full name required'">
      <!-- Fill-in-the-blank -->
      <ion-item lines="none">
        <ion-label>Who is this?</ion-label>
        <ion-input placeholder="Enter this person's name" [(ngModel)]="guess"></ion-input>
      </ion-item>

      <ion-row class="ion-justify-content-around">
        <ion-button (click)="showHint()">Gimme a Hint</ion-button>
        <ion-button (click)="onSubmit()" [disabled]="!guess">Submit</ion-button>
        <ion-button [disabled]="!guessIsCorrect">Next</ion-button>
      </ion-row>
    </div>

  </ion-list>

  <!-- <ion-fab vertical="center" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>