<ion-content [fullscreen]="true">
  <ion-list>
    <ion-img src="assets/logo.svg"></ion-img>

    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="stacked">Enter the name of your organization:</ion-label>
        <ion-input placeholder="organization" formControlName="organization" name="organization" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Enter the secret key for your quiz:</ion-label>
        <ion-input placeholder="secret" formControlName="secret" name="secret" required></ion-input>
      </ion-item>
      <ion-button [disabled]="!loginForm.valid" (click)="onSubmit()">Submit</ion-button>
    </form>
    <ion-item />
    <ion-item>
      <ion-label>
        To install this app on your phone: watch one of these videos. Just use <code>imagebearers.web.app</code>
        instead of the URL shown in the videos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Android: <a href="https://www.youtube.com/shorts/kUsqZ9NYB2Y">Directions</a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        iOS: <a href="https://www.youtube.com/shorts/xL8WMqbqca8">Directions</a>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span class="tiny">Version 0.9.9.9</span>
    </ion-item>

  </ion-list>
</ion-content>