<ion-header>
  <ion-toolbar>
    <ion-title>Quiz Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/logo.svg"></ion-img>
  <h3 class="center">You got {{dataSvc.getScore()}} out of {{dataSvc.getNumPersonsInQuiz()}} right</h3>
  <h3 class="center">on {{dataSvc.getDifficulty(dataSvc.getGameMode())}} mode!</h3>
  <ion-item lines="none" class="center-text">
    {{genNstars(dataSvc.getScore())}}
  </ion-item>
  <ion-item lines="none" class="center-text">
    <ion-button (click)="shareResults()">Share</ion-button>
  </ion-item>
  <ion-router-link class="center" (click)="redoQuiz()" routerLink="/quiz">
    <h4>Try again with the same group?</h4>
  </ion-router-link>
  <ion-router-link class="center" (click)="restart()" routerLink="/choose-mode">
    <h4>Start again with a new group</h4>
  </ion-router-link>

</ion-content>