.choose-daily-quiz-area {
    margin-top: 4vh;
}

.how-many-people {
    --min-height: 0px;
}

ion-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
}