<ion-header>
  <ion-toolbar>
    <ion-title>Game settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-around">
    <ion-button class="center" (click)="dailyQuiz()">Choose the daily quiz</ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-around">
  <h4 class="center">or choose options below:</h4>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-item lines="none" style="width: 50%; --padding-start: 0px">
        How many people should be in the quiz?
      </ion-item>
      <ion-range min="5" [max]="gameDataSvc.getMaxPeople()" [pinFormatter]="customFormatter" [pin]="true"
        color="secondary" [(ngModel)]="numPeople">
        <ion-label slot="start">5</ion-label>
        <ion-label slot="end">{{gameDataSvc.getMaxPeople()}}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item lines="none"> <b>Type of quiz</b></ion-item>
    <ion-radio-group (ionChange)="gameModeSelected($event)">
      <ion-item *ngFor="let mode of getGameModes()" lines="none">
        <ion-label>{{mode}}</ion-label>
        <ion-radio [value]="mode"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row class="ion-justify-content-around">
    <ion-button class="center" (click)="saveSettings()" [disabled]="!modeChosen" routerLink="/quiz"
      routerDirection="forward">
      Let's play!
    </ion-button>
  </ion-row>

</ion-content>