<ion-header>
  <ion-toolbar>
    <ion-title>Game settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-img src="assets/logo.svg"></ion-img>
  </ion-item>
  <ion-row class="choose-daily-quiz-area ion-justify-content-around">
    <ion-button class="center" (click)="dailyQuiz()">
      Choose the daily quiz
    </ion-button>
    (10 randomly selected image bearers)
  </ion-row>
  <ion-row>
    <h4 class="center">or</h4>
  </ion-row>
  <ion-row class="ion-justify-content-around">
    Choose:
  </ion-row>
  <ion-list>
    <!-- <ion-item> -->
    <ion-item lines="none" class="how-many-people center-text">
      How many people should be in the quiz?
    </ion-item>
    <ion-item lines="none">
      <!-- <ion-range min=5 step=5 [max]="gameDataSvc.getMaxPeople()" [pinFormatter]="customFormatter" [pin]="true"
        color="secondary" [(ngModel)]="numPeople">
        <ion-label slot="start">5</ion-label>
        <ion-label slot="end">{{gameDataSvc.getMaxPeople()}}</ion-label>
      </ion-range> -->
      <input class="center" type="number" id="quantity" name="quantity" value="5" min="5" max="{{maxPeople}}" step="5" [(ngModel)]="numPeople">
    </ion-item>
    <ion-row class="ion-justify-content-around">
      <ion-button class="center" (click)="useCustomQuiz()">Custom Quiz</ion-button>
    </ion-row>
    <!-- <ion-item> -->
    <!-- <ion-input type="number" min="5" [max]="gameDataSvc.getMaxPeople()" step=5 [(ngModel)]="numPeople"></ion-input> -->
    <!-- </ion-item> -->
  </ion-list>

</ion-content>