<ion-content>
  <ion-item>
    <ion-img src="assets/logo.svg"></ion-img>
  </ion-item>
  <ion-row class="choose-daily-quiz-area ion-justify-content-around">
    <ion-button class="center" (click)="dailyQuiz()">
      Choose the daily quiz
    </ion-button>
    (10 randomly selected image bearers)
  </ion-row>
  <ion-row>
    <h4 class="center">or</h4>
  </ion-row>
  <ion-row class="ion-justify-content-around">
    Choose:
  </ion-row>
  <ion-list>
    <ion-item lines="none" class="how-many-people center-text">
      How many people should be in the quiz?
    </ion-item>
    <ion-item lines="none">
      <input class="center" type="number" id="quantity" name="quantity" value="5" min="5"
        max="{{gameDataSvc.maxPeople$()}}" step="5" [(ngModel)]="numPeople">
    </ion-item>
    <ion-item lines="none" class="center-text">
      (Total number of image bearers in the database: {{gameDataSvc.maxPeople$()}})
    </ion-item>
    <ion-row class="ion-justify-content-around">
      <ion-button class="center" (click)="useCustomQuiz()">Custom Quiz</ion-button>
    </ion-row>
    @if (! messaging.registeredForNotifs()) {
    <ion-row class="register-for-notifs ion-justify-content-around">
      Click 'Yes' to receive daily notifications reminding you to do the daily quiz.
      <ion-button class="center" (click)="messaging.registerToReceiveNotifs()">
        Yes
      </ion-button>
    </ion-row>
    }
  </ion-list>
</ion-content>