ion-progress-bar {
  height: 10px;
  margin-bottom: 10px;
}

.person-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spinner-area {
  height: 80vw;
  padding-top: 25vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.dismiss-button {
  width: 10em;
  margin-bottom: 8px;
  --border-radius: 1em;
}

.answer-text {
  margin-top: 8px;
}

.space-after {
  padding-right: 10px;
}

.correct-answer {
  font-weight: bold;
}
